{% extends 'administration/base.html' %}

{% block content %}  
    <form id="prefixregroup" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <h6 class="center">Empresa</h6>
        
        <div class="row">
            <div class="col s12">
              <div class="card grey lighten-4">
                <div class="card-content orange-text text-darken-4">
                  <i class="material-icons prefix">info_outline</i> En esta página puede cambiar los datos registrados en la tabla Empresas.
                </div>
              </div>
            </div>
        </div>
  
        <div class="row">
            <div class="col s3">
                <label for="nit">(*) Nit de la empresa</label>
                <input type="text" id="nit" name="nit" value="{{contexto.enterprise.identification}}" required readonly autocomplete="off">
            </div>
            <div class="col s6">
                <label for="name">(*) Razón social</label>
                <input type="text" id="name" name="name" value="{{contexto.enterprise.enterprise_name}}" required>
            </div> 
            <div class="col s6">
                <label for="purchased">Cantidad de códigos adquiridos</label>
                <input type="text" id="purchased" name="purchased" value="{{contexto.enterprise.code_quantity_purchased}}" >
            </div>
            <div class="col s6">
                <label for="consumed">Cantidad de códigos asignados</label>
                <input type="text" id="consumed" name="consumed" value="{{contexto.enterprise.code_quantity_consumed}}" >
            </div>
            <div class="col s6">
                <label for="reserved">Cantidad de códigos pendientes por asignar</label>
                <input type="text" id="reserved" name="reserved" value="{{contexto.enterprise.code_quantity_reserved}}" >
            </div>
        </div>
        <!--
        <div class="row">        
            <div class="col s12">
                <label for="observation">(*) Observaciones</label>
                <textarea id="observation" name="observation" class="materialize-textarea" required></textarea>
            </div>
        </div>
        -->

        <div class="row">
            <a class="btn waves-effect waves-light grey" href="{% url 'assignate_search_enterprise' %}?obj=9">Cambiar Empresa
                <i class="material-icons left">arrow_back</i>
            </a>
            <button class="btn waves-effect waves-light Orangelogyca" type="submit" name="action">Guardar
                <i class="material-icons right">arrow_forward</i>
            </button>
        </div>

        <input id="error" type="hidden" value="{{ contexto.Error }}">
    </form>
    
    <br><hr><br>
    <div style="white-space: nowrap; overflow-x:auto;" id="prefixTable">   
    </div>
    
    <div style="white-space: nowrap;" id="codesTable">
    </div>
    <br><br><br>
{% endblock %}

{% block JsPage%}
<script>
    var msj = $('#error').val();
    if(msj.length > 0)
    {
        M.toast({ html: msj, classes: 'rounded Orangelogyca' })
    }
</script>
{% endblock%}