{% extends 'administration/base.html' %}

{% block content %}  
    <form id="prefixAssignation" action="/codes/assignation/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h6 class="center">Asignación de Codigos</h6>
        
        <div class="row">
            <div class="col s12">
              <div class="card grey lighten-4">
                <div class="card-content orange-text text-darken-4">
                  <i class="material-icons prefix">info_outline</i> Realice el proceso de asignación de códigos para una empresa. Ingrese el Número de identificación de la empresa NIT y seleccione las características para el prefijo/código que desea asignar.
                </div>
              </div>
            </div>
        </div>
  
        <div class="row">
            <div class="col s3">
                <label for="nit">Nit de la empresa</label>
                <input type="text" id="nit" name="nit" value="{{contexto.enterprise.identification}}" readonly required autocomplete="off">
            </div>
            <div class="col s9">
                <label for="name">Razón social</label>
                <input type="text" id="name" name="name" value="{{contexto.enterprise.enterprise_name}}" readonly>
            </div>
        </div>

        <div class="row" id="code_info">
            <div class="col s7">
                <diV class="col-s12">
                    <div class="col s10">
                        <label class="black-text">Cantidad de códigos adquiridos:</label>
                    </div>
                    <div class="col s2">
                        <label class="indigo-text text-darken-4">{{contexto.enterprise.code_quantity_purchased}}</label>
                    </div>
                </div>
                <br>
                <diV class="col-s12">
                    <div class="col s10">
                        <label class="black-text">Cantidad de códigos asignados:</label>
                    </div>
                    <div class="col s2">
                        <label class="indigo-text text-darken-4">{{contexto.enterprise.code_quantity_reserved}}</label>
                    </div>
                </div>
                <br>
                <diV class="col-s12">
                    <div class="col s10">
                        <label class="black-text">Cantidad de códigos pendientes por asignar:</label>
                    </div>
                    <div class="col s2">
                        <label class="indigo-text text-darken-4">{{contexto.enterprise.code_residue}}</label>
                    </div>
                </diV>
            </div>
            <div class="col s5 ">
                <label class="orange-text text-darken-3">Esta información solamente aplica para empresas que se hallan vinculado con pago de cuota de acceso a 99 años.</label>
            </div>
        </div>
        <div id="space"><hr><br></div>
        
        <div class="row">
            <div class="col s3">
                <label for="quantity">(*) Cantidad de códigos</label>
                <input type="number" min="1" max="100000" id="quantity" name="quantity" value="" required>
                
            </div>
            <div class="col s9">
                <div id="give_prefix" style="display: none;">
                    <span class="indigo-text" style="text-align:justify;font-style: italic;"><br>Debido al esquema de asignación y el tipo de código seleccionado, se creearán prefijos con la misma cantidad de códigos seleccionados.
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s4">
                <label for="schema">(*) Esquema de asignación</label>
                <select id="schema" name="schema" required>
                    <option value="" disabled selected>Elige una opción</option>
                    {% for op in contexto.schemas %}
                        <option value="{{op.id}}">{{op.description}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col s4">
                <label for="codetype">(*) Tipo de código</label>
                <select id="codetype" name="codetype" required>
                    <option value="" disabled="" selected="">Elige una opción</option>
                </select>
            </div>
            <div class="col s4">
                <label for="prefixtype">(*) Tipo de prefijo</label>
                <select id="prefixtype" name="prefixtype">
                    <option value="" disabled="" selected="">Elige una opción</option>
                </select>
            </div>
        </div>
        <div class="row">        
            <div class="col s12">
                <label for="observation">Observaciones</label>
                <textarea id="observation" name="observation" class="materialize-textarea"></textarea>
            </div>
        </div>
        
        <div class="row">
            <a class="btn waves-effect waves-light grey" href="{% url 'assignate_search_enterprise'%}?obj=1">Cambiar Empresa
                <i class="material-icons left">arrow_back</i>
            </a>

            <button class="btn waves-effect waves-light Orangelogyca" type="submit" name="action">Asignar Códigos / Prefijo
                <i class="material-icons right">arrow_forward</i>
            </button>
        </div>
        

        <input id="error" type="hidden" value="{{ contexto.Error }}">
    </form>
    
    <br><br><br><br>
    <div style="white-space: nowrap; overflow-x:auto;" id="prefixTable">   
    </div>
    <br>
    <div style="white-space: nowrap;" id="codesTable">
    </div>
    <br><br><br>
{% endblock %}

{% block JsPage%}
<script>
    var msj = $('#error').val();
    if(msj.length > 0)
    {
        M.toast({ html: msj, classes: 'rounded Orangelogyca' })
    }
    $(document).ready(function(){
        M.textareaAutoResize($('#observation'));
        var nit = $('#nit').val();
        
        $("#prefixTable").html("");
        $.ajax({
            url: "{% url 'ajax_load_prefixtable' opc=1 %}",
            data: {'nit': nit},
            success:function(result){
                $("#prefixTable").html(result);
            },
        });

        var return_codes = "{{contexto.enterprise.return_codes}}";
        if (return_codes == "True") {
            $('#code_info').show();
            $('#space').show();
        } else {
            $('#code_info').hide();
            $('#space').hide();
        }
    });
    
    $('select#schema').change(function (e) {
        e.preventDefault();
        var schemaId = $(this).val();
        data = {'schema': schemaId};

        $.ajax({
            url: "{% url 'ajax_load_codetypes' %}",
            data:data,
            success:function(result){
                $("#codetype").html("")
                str = ''
                str = '<option value="" disabled="" selected="">Elige una opción</option>'
                for (var i = result.length - 1; i >= 0; i--) {
                    
                    str+= '<option value='+result[i].id+'>'+result[i].description+'</option>'
                };
                document.getElementById("codetype").innerHTML = str;
                $("#codetype").formSelect()

            },
        });
    });

    $('select#codetype').change(function (e) {
        e.preventDefault();
        var codetypeId = $(this).val();
        var schemaId = $("#schema").val();
        data = {'codetype': codetypeId,
                'schemaId': schemaId};
        
        $.ajax({
            url: "{% url 'ajax_load_prefixtypes' %}",
            data:data,
            success:function(result){
                $("#prefixtype").html("")
                str = ''
                str = '<option value=0 selected=true>Elige una opción</option>';
                for (var i = result.length - 1; i >= 0; i--) {
                    if (i==0)
                    {
                        if (result[i].give_prefix==1)
                        {
                            $('#give_prefix').show();
                        }
                        else
                        {
                            $('#give_prefix').hide();
                        }
                    }
                    else
                    {
                        str+= '<option value='+result[i].id+'>'+result[i].description+'</option>'
                    }
                };
                document.getElementById("prefixtype").innerHTML = str;
                $("#prefixtype").formSelect()
            },
        });
    });
</script>
{% endblock%}