{% extends 'administration/base.html' %}

{% block content %}  
    <form id="prefixregroup" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <h6 class="center">Reagrupar prefijos</h6>
        
        <div class="row">
            <div class="col s12">
              <div class="card grey lighten-4">
                <div class="card-content orange-text text-darken-4">
                  <i class="material-icons prefix">info_outline</i> Este proceso le permite generar paquetes de 10 códigos a partir de un prefijo. Es importante que tenga en cuenta que el prefijo base para la generación de paquetes desaparecerá. Este proceso se realiza para las empresas que han llevado a cabo procesos de migración.
                </div>
              </div>
            </div>
        </div>
  
        <div class="row">
            <div class="col s3">
                <label for="nit">Nit de la empresa</label>
                <input type="text" id="nit" name="nit" value="{{contexto.enterprise.identification}}" readonly required autocomplete="off">
            </div>
            <div class="col s6">
                <label for="name">Razón social</label>
                <input type="text" id="name" name="name" value="{{contexto.enterprise.enterprise_name}}" readonly>
            </div>
            <div class="col s3">
                <label for="name">Fecha de migración (*)</label>
                <input type="text" class="datepicker" id="migrationdate" name="migrationdate" required>
            </div>
        </div>    
        <div class="row">
            <a class="btn waves-effect waves-light grey" href="{% url 'assignate_search_enterprise' %}?obj=2">Cambiar Empresa
                <i class="material-icons left">arrow_back</i>
            </a>
        </div>

        <input id="error" type="hidden" value="{{ contexto.Error }}">
    </form>
    
    <br><hr><br>
    <div style="white-space: nowrap; overflow-x:auto;" id="prefixTable">   
    </div>
    
    <div style="white-space: nowrap;" id="codesTable">
    </div>
    <br><br><br>
{% endblock %}

{% block JsPage%}
<script>
    var msj = $('#error').val();
    if(msj.length > 0)
    {
        M.toast({ html: msj, classes: 'rounded Orangelogyca' })
    }

    $(document).ready(function(){
        $('.datepicker').datepicker({ 
            format: 'dd/mm/yyyy'
        });
        var nit = $('#nit').val();
        $("#prefixTable").html("");
        $.ajax({
            url: "{% url 'ajax_load_prefixtable' opc=3 %}",
            data: {'nit': nit},
            success:function(result){
                $("#prefixTable").html(result);
            },
        });
    });
</script>
{% endblock%}