{% extends 'administration/base.html' %}
{% block title%}Excel{% endblock %}
{% block content %}

<h5 class="center">Cargue Portafolio</h5>
<form id="carguePortafolio" action="/codes/Cargue/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file"
           title="Upload excel file"
           name="excel_file"
           required="required"
           class="file-field input-field btn">
    <p>
    <input id="valida" type="submit"
           value="Cargar Archivo"
           class="btn">
</form>
<p></p>
<hr>
<input id="error" type="hidden" value="{{ Error }}">
<h6 class="center">Archivos Sin Procesar</h6>
<table id="myTable2" class="table striped" style="width:100%">
    <thead>
        <tr>
            <th>
            Empresa
            </th>
            <th>
            Fecha Carga Archivo
            </th>
        </tr>
    </thead>
    <tbody>
        {% for row in excel_data %}
        <tr>
            <td>{{ row.nombre }}</td>
            <td>{{ row.fecha }}</td>
        </tr>
        {% endfor %}
       
    </tbody>
</table>

<form id="procesaPortafolio" action="/codes/ProcesaBlobs/" method="GET" enctype="multipart/form-data">
    {% csrf_token %}
    <input id="valida" type="submit"
        value="ProcesarBlob"
        class="btn">
    <!--<div id="loader" class="progress">
        <div class="indeterminate"></div>
    </div>-->
</form>

{% endblock %}

{% block JsPage%}
<script>

$('#procesaPortafolio').submit(function(e){
    e.preventDefault();
    var contenedor = document.getElementById('loader');
    contenedor.style.visibility = '';
    $.ajax({
        url: $(this).attr('action'),
        type: $(this).attr('method'),
        data: $(this).serialize(),
        success: function(json){
            debugger;
            contenedor.style.visibility = 'hidden';
            console.log(json);
            $('#error').val(json.mensaje);
            var msj = $('#error').val();
            if(msj.length > 0)
                {
                    M.toast({ html: msj, classes: 'rounded Orangelogyca' })
                }
        }
    })
})

window.onload = function(){
    var contenedor = document.getElementById('loader');
    contenedor.style.visibility = 'hidden';
}

var msj = $('#error').val();
console.log(msj);
if(msj.length > 0)
{
    M.toast({ html: msj, classes: 'rounded Orangelogyca' })
}

$('#myTable2').DataTable({
    dom: 'B<"clear">rtip',
    pageLength: 50,
    "scrollX": true,
    buttons: {
        name: 'primary',
        buttons: ['csv', 'excel']
    }
});
</script>
{% endblock%}