{% extends 'administration/base.html' %}
{% block title%}Report{% endblock %}
{% block content %}
  
<!--
<div class="input-field col s6">
  <h5>Brands:</h5>
  {% for brand in brand_list %}
  <div class="chip">
    {{ brand.name }}
  </div>
  {% endfor %}      
</div>
-->
<h5 class="center">Reporte Gtin14</h5>
<input type="text" id="mySearch" placeholder="Texto de Busqueda">
<table id="myTable" class="table striped" style="width:100%">
    <thead>
        <tr>
            <th>Gtin14</th>
            <th>Gtin13</th>
            <th>Descripcion</th>
            <th style="width:10%">Cantidad Contenida</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for item in gtin14s_list %}
        <tr>
            <td>{{item.0}}</td>
            <td>{{item.3}}</td>
            <td>{{item.1}}</td>
            <td>{{item.2}}</td>
            <td>{{item.4}}</td>
            <td>
              <a onclick="veritem('{{item.0}}','{{item.1}}')" class="waves-effect waves-light btn modal-trigger" href="#">
                <i class="material-icons center">assignment_turned_in</i>
              </a>
              <!--
              <a class="waves-effect waves-light btn red"><i class="material-icons center">delete</i></a>
              <a class="waves-effect waves-light btn"><i class="material-icons center">edit</i></a>
              -->
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
 <!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
  <h4>Modal Header</h4>
  <div class="input-field col s6">
    <input id="gtin14" placeholder="Placeholder" type="text" class="validate">
    <label for="first_name">Codigo Gtin14</label>
  </div>
  <div class="input-field col s6">
    <input id="descrip" type="text" class="validate">
    <label for="last_name">Descripcion</label>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>
{% endblock %}

{% block JsPage%}
<script>
var table = $('#myTable').DataTable({
  dom: 'B<"clear">rtip',
  pageLength: 5,
  buttons: {
    name: 'primary',
    buttons: ['csv', 'excel', 'pdf']
  }
});

$('#mySearch').keyup(function () {
  table.search($('#mySearch').val()).draw();
});

function veritem(gtin14,desc){
  debugger;
  var elem = $('#modal1');
  var instance = M.Modal.getInstance(elem);
  $('#gtin14').val(gtin14)
  $('#descrip').val(desc)
  instance.open();
}
</script>
{% endblock%}