<h6 class="center">CÓDIGOS</h6>
<input type="text" id="filter_code" placeholder="Buscar...">

<table class="table stripped"  style="white-space: nowrap;" id="tbl_codes_table">         
    <thead>
        <tr>
        <th>Código</th>
        <th>Descripción</th>
        <th>Fecha de asignación</th>
        <th></th>
        </tr>
    </thead>
    <tbody >
        {% for row in contexto.codes %}
        <tr>
            <td>{{row.id}}</td>
            <td>{{row.description}}</td>
            <td>{{row.assignment_date}}</td>
            <td id="cntInactive">
                {% if contexto.opc == 2 %}
                    {% if row.state_id == 2 %}
                        <button class="btn-small waves-effect waves-light orange lighten-1" id="btnInactive" title="Inactivar">
                            <i class="material-icons prefix">indeterminate_check_box</i>
                        </button>
                    {% endif %}
                    {% if row.state_id == 3 %}
                        <button class="btn-small waves-effect waves-light grey deep-orange" id="btnInactive" title="Activar">
                            <i class="material-icons prefix">check_box</i>
                        </button>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    $(document).ready(function(){
        var obj_tbl= $('#tbl_codes_table').DataTable({
            dom: 'B<"clear">rtip',
            pageLength: 4,
            buttons: {
                name: 'secondary',
                buttons: ['excel']
            }
        });

        $('#filter_code').keyup(function(){
            obj_tbl.search($(this).val()).draw() ;
        })
    });
    

    $("#tbl_codes_table").on("click", "#btnInactive", function() {
        var currentRow=$(this).closest("tr");
        var codeId = currentRow.find("td:eq(0)").text();
        
        $.ajax({
            url: "{% url 'ajax_function_2nd_grid' %}",
            data: {'codeid': codeId,
                    'opc': 2},
            success:function(result){    
                $("#codesTable").html("");   
                $("#codesTable").html(result);
            },
        });
    });
</script>

