<h6 class="center">CÓDIGOS</h6>
<input type="text" id="filter_code" placeholder="Buscar...">
<table class="table stripped" style="white-space: nowrap;" id="tbl_codes_table">
    <thead>
        <tr>
            <th>Código</th>
            <th>Descripción</th>
            <th>Fecha de asignación</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for row in contexto.codes %}
        <tr>
            <td>{{row.id}}</td>
            <td>{{row.description}}</td>
            <td>{{row.assignment_date}}</td>
            <td id="cntInactive">
                {% if contexto.opc == 2 %}
                {% if row.state_id == 2 %}
                <button class="btn-small waves-effect waves-light orange lighten-1" id="btnInactive" title="Inactivar">
                    <i class="material-icons prefix">indeterminate_check_box</i>
                </button>
                {% endif %}
                {% if row.state_id == 3 %}
                <button class="btn-small waves-effect waves-light grey deep-orange" id="btnInactive" title="Activar">
                    <i class="material-icons prefix">check_box</i>
                </button>
                {% endif %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if contexto.opc == 10 %}
<!-- Modal Trigger -->
<a class="waves-effect waves-light btn modal-trigger" href="#modalupdate">Actualizar</a>

<!-- Modal Structure -->
<div id="modalupdate" class="modal">
    <div class="modal-content">
        <h4>Actualizar</h4>
        <h6 class="modal-title"></h6>
        <h4>Descripción</h4>
        <div>
            <h6 class="modal-body"></h6>
        </div>
        <!--<p>A bunch of text</p>-->
        <div class="input-field col s4">
            <input id="new_ad" type="text" class="validate">
            <label for="first_name">Nueva Descripción</label>
        </div>

    </div>

    <div class="modal-footer">
        <a id="submit" type="submit" class="modal-close waves-effect waves-green btn-flat">Actualizar</a>
    </div>
</div>
<input id="error" type="hidden" value="{{ contexto.Error }}">
{% endif %}



<script>
    $(document).ready(function () {
        var obj_tbl = $('#tbl_codes_table').DataTable({
            dom: 'B<"clear">rtip',
            pageLength: 4,
            buttons: {
                name: 'secondary',
                buttons: ['excel']
            }, select: true,
        });

        $('#filter_code').keyup(function () {
            obj_tbl.search($(this).val()).draw();
        })
        $('#tbl_codes_table tbody').on('click', 'tr', function () {

            const clickedRow = (obj_tbl.row(this).data());
            const modalTitle = (obj_tbl.row(this).data()[0]);
            const modalBody = (obj_tbl.row(this).data()[1]);
            $('#modalupdate .modal-title').text(modalTitle);
            $('#modalupdate .modal-body').text(modalBody);
            $('#modalupdate').modal();
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            $('#submit').click(function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: "{% url 'update_ad' %}",
                    headers: { 'X-CSRFToken': csrftoken },
                    data: {
                        "id": modalTitle,
                        "description": $('#new_ad').val()
                    },
                    success: function (response) {

                        document.location.reload();
                    },

                });

            });
        });
    });
    $("#tbl_codes_table").on("click", "#btnInactive", function () {
        var currentRow = $(this).closest("tr");
        var codeId = currentRow.find("td:eq(0)").text();
        $.ajax({
            url: "{% url 'ajax_function_2nd_grid' %}",
            data: {
                'codeid': codeId,
                'opc': 2
            },
            success: function (result) {
                $("#codesTable").html("");
                $("#codesTable").html(result);
            },
        });
    });
</script>